.App {
  background-color: #0f0f0f;
  min-height: 100vh;
}
.movieHeader {
  position: relative;
  width: 100%;
}
.movieHeader h1 {
  display: block;
  text-align: center;
  padding: 50px 0 25px 0;
  font-size: 32px;
  line-height: 1.2em;
  user-select: none;
  color: #ececec;
}
.movieHeader .flex_wrap {
  max-width: 1400px;
  margin: 0 auto;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.movieHeader .years_wrap {
  margin: 10px 0;
}
.movieHeader .years_wrap select {
  background-color: #6b6b6b80;
  color: #c8c8c8;
}
.movieHeader .selected {
  width: 300px;
}
.movieHeader .selected input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 1px solid #c8c8c8;
  background-color: #6b6b6b80;
  color: #fff;
}
.movieHeader .selected input:focus {
  outline: none;
}
.movieList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}
.movieItem {
  display: flex;
  flex-direction: column;
}
.movieItem .photo_wrap {
  position: relative;
}
.movieItem .photo img {
  width: 100%;
  height: auto;
}
.movieItem .learnMore {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s;
}
.movieItem .learnMore button {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
}
.movieItem .learnMore:hover {
  opacity: 1;
}
.movieItem .movie_txt {
  margin-top: 8px;
}
.movieItem .movie_txt .mt1 {
  display: flex;
  align-items: flex-start;
  height: 30px;
}
.movieItem .movie_txt span {
  color: #ececec;
}
.movieItem .movie_txt .age {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
  color: #111;
  background-color: #e7d000;
  border: 2px solid #fff;
}
.movieItem .movie_txt .title {
  display: inline-block;
  width: 85%;
  line-height: 1.1em;
  margin-left: 5px;
}
.movieItem .movie_txt .mt2 {
  display: flex;
  justify-content: space-between;
}
/* 모달창 시작 */
.modal {
  display: none;
}
.modal.show {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: scroll;
}
.movieModal .modalClose {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  z-index: 100;
}
.movieModal .modalClose::before,
.movieModal .modalClose::after {
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 5px;
  background-color: #fff;
}
.movieModal .modalClose::before {
  transform: rotate(45deg);
}
.movieModal .modalClose::after {
  transform: rotate(-45deg);
}
.movieModal .modal_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 30px 30px 30px;
}
.movieModal .modal_wrap .photo {
  width: 100%;
  max-width: 400px;
}
.movieModal .modal_wrap .photo img {
  width: 100%;
  height: auto;
}
.movieModal .modal_wrap .contents {
  display: flex;
  flex-direction: column;
}
.movieModal .modal_wrap .contents .title {
  font-size: 35px;
  font-weight: 700;
  line-height: 1em;
  margin: 50px 0 20px 0;
  color: #fff;
}
.movieModal .modal_wrap .contents .arl {
  line-height: 1.5em;
  margin-bottom: 30px;
  font-size: 18px;
}
.movieModal .modal_wrap .contents .rating {
  margin-left: 20px;
  color: #929292;
}
.movieModal .modal_wrap .contents .age {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  color: #111;
  background-color: #e7d000;
  border: 2px solid #fff;
}
.movieModal .modal_wrap .contents .length {
  margin-left: 20px;
  color: #929292;
}
.movieModal .modal_wrap .contents .summary {
  margin-bottom: 20px;
  line-height: 1.8em;
  color: #c8c8c8;
}
.movieModal .modal_wrap .contents .director {
  color: #c8c8c8;
  margin-bottom: 5px;
}
.movieModal .modal_wrap .contents .actors {
  color: #c8c8c8;
  margin-bottom: 20px;
}
.movieModal .review {
  display: flex;
  margin-bottom: 10px;
}
.movieModal .review input {
  width: 100%;
  max-width: 500px;
  line-height: 30px;
  padding-left: 10px;
  font-size: 18px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}
.movieModal .review input:focus {
  outline: none;
}
.movieModal .review select {
  margin-left: 5px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
  color: #c8c8c8;
}
.movieModal .review button {
  width: 50px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
  color: #c8c8c8;
}
.movieModal ul {
  overflow-y: scroll;
  max-height: 300px;
}
.MovieReview {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #fff;
}
.MovieReview .review_txt {
  font-size: 18px;
}
.MovieReview .review_txt span {
  font-size: 16px;
}
.MovieReview .points_date_wrap {
  display: flex;
  justify-content: space-between;
}
.MovieReview .review_points {
  font-size: 16px;
}
.MovieReview .review_date {
  font-size: 14px;
  color: #929292;
}
/* 768px */
@media screen and (min-width: 768px) {
  .movieHeader .flex_wrap {
    padding-right: 30px;
  }
  .movieList {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
  }
}
/* 1024px */
@media screen and (min-width: 1024px) {
  .movieHeader h1 {
    padding: 50px 0 0 0;
  }
  .movieList {
    grid-template-columns: repeat(4, 1fr);
  }
  .movieModal .modal_wrap {
    flex-direction: row;
    align-items: flex-start;
  }
  .movieModal .modal_wrap .photo {
    max-width: 500px;
    width: 50%;
  }
  .movieModal .modal_wrap .contents {
    width: 50%;
    padding-left: 30px;
  }
  .movieModal .modal_wrap .contents .title {
    margin: 0 0 20px 0;
  }
}
/* 1440px */
@media screen and (min-width: 1440px) {
  .movieHeader .flex_wrap {
    padding-right: 0;
  }
  .movieList {
    grid-template-columns: repeat(5, 1fr);
    max-width: 1400px;
    margin: 0 auto;
  }
}
