@charset "utf-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.8px;
  color: #121212;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: top;
}
input {
  vertical-align: top;
  font-family: "Pretendard-Regular", sans-serif;
}
button {
  border: 0;
  background-color: transparent;
  vertical-align: top;
  cursor: pointer;
  font-family: "Pretendard-Regular", sans-serif;
}
select {
  font-family: "Pretendard-Regular", sans-serif;
}
